---
const featuresItems = [
  {
    title: "Layerd security",
    description:
      "With layerd security, we ensure the safety of every unit we provide.",
    logo: "",
  },
  {
    title: "Quality control of each part",
    description: "Every unit you send is checked carefully for every detail.",
    logo: "",
  },
  {
    title: "Relaible customer service",
    description:
      "our customer service is available 24/7 to help you with any issues.",
    logo: "",
  },
  {
    title: "Maintenance manual book",
    description:
      "We provide a guidebook that can be used to ensure maximum care.",
    logo: "",
  },
  {
    title: "Delivered safely",
    description:
      "Every unit we send arrives safely and quickly, without any obstacles or drama.",
    logo: "",
  },
  {
    title: "Based on artificial intelligence",
    description:
      "You can control and view each unit from your phone, its very easy to use.",
    logo: "",
  },
];
---

<section class="w-full h-full flex flex-col bg-gray-200 gap-20 py-24 px-40">
  <div class="flex w-full items-center justify-center">
    <h1 class="text-6xl w-2/4 text-center leading-tight font-medium text-black">
      We offer quality,<span class="text-gray-600">
        with the best materials and service</span
      >
    </h1>
  </div>
</section>
